/* line 17, sass/style.scss */
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #fff;
}

/* line 22, sass/style.scss */
.navbar-site {
  font-weight: bold;
}
/* line 25, sass/style.scss */
.navbar-site .nav-center {
  width: 100%;
  text-align: center;
}
/* line 28, sass/style.scss */
.navbar-site .nav-center > li {
  float: none;
  display: inline-block;
}
/* line 35, sass/style.scss */
.navbar-site__nav-link {
  color: #212121;
}
/* line 36, sass/style.scss */
.navbar-site__nav-link :hover {
  border-bottom: 1px solid #212121;
}
/* line 41, sass/style.scss */
.navbar-site__nav-link .navbar-site__nav-link__text {
  padding: 0;
  margin: 1em;
  color: #212121;
}
/* line 46, sass/style.scss */
.navbar-site__nav-link .navbar-site__nav-link__text--active {
  border-bottom: 1px solid #212121;
}
/* line 52, sass/style.scss */
.navbar-site__site-title {
  margin: 6em;
  margin-bottom: 1.2em;
}
/* line 55, sass/style.scss */
.navbar-site__site-title__text {
  text-align: center;
  width: 6em;
  font-weight: normal;
  font-size: 2em;
  font-weight: 500;
  color: #222;
}
/* line 62, sass/style.scss */
.navbar-site__site-title__text:hover {
  opacity: .7;
}
@media (max-width: 48em) {
  /* line 22, sass/style.scss */
  .navbar-site {
    background-color: #212121;
  }
  /* line 73, sass/style.scss */
  .navbar-site .navbar-toggle {
    border-color: #333;
  }
  /* line 76, sass/style.scss */
  .navbar-site .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  /* line 81, sass/style.scss */
  .navbar-site .navbar-brand {
    color: #fff;
  }
  /* line 85, sass/style.scss */
  .navbar-site__title {
    color: #fff;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
}

/* line 97, sass/style.scss */
.category {
  width: 70%;
  text-align: center;
}
/* line 100, sass/style.scss */
.category__item {
  margin: 2em;
  color: #212121;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.3em;
  opacity: .5;
}
/* line 111, sass/style.scss */
.category__item--active {
  opacity: 1;
}
